			<script language="JavaScript">
				$(document).ready(function()
				{
					//make link redirect to album summary page
					//TODO: modify the template to actually support this functionality
					$('.list-container #list li.item a').click(function() {
						var myClass = $(this).attr("class");
						$.get('/albums/' + myClass, function(data) {
							$('#main').html(data)
						});
						return false;
					});

					//once the list is loaded, make it pretty
					$('.list-container ul#list').listnav({

						//don't include an all tab
						includeAll: false,

						//do include an other tab (for stupid names that start with a unicode char)
						includeOther: true,

						//don't show the counts because they'll be huge
						showCounts: false,

						//filter prefixes so 'the beatles' appears under both t and b
						prefixes: ['the', 'a'],
					});


					//show the results
					$('.list-container').slideDown('slow');
				});
			</script>

			<div class="grid_12 main">
				<h2>Albums</h2>

				<div class="list-container" style="display:none;">
					<div id='list-nav' class='grid_11'></div>
					<ul id='list'>
					% for album in albums:
						<li class='grid_11 item'>
							<div class="album-cover">&nbsp;</div>
							<div class="album-details">
								<a href='#' class='${album['id']}'><h3>${album['title']}</h3></a>
								<p>artist name</p>
								<p>number of tracks</p>
							</div>
						</li>
					% endfor
					</ul>
				</div>
			</div>
			<div class="clear"></div>