			<script language="JavaScript">
				$(document).ready(function()
				{
					//make link redirect to artist summary page
					//TODO: modify the template to actually support this functionality
					$('.list-container #list li.item a').click(function() {
						var myClass = $(this).attr("class");
						load_content('/artists/' + myClass);
						return false;
					});

					//once the list is loaded, make it pretty
					$('.list-container ul#list').listnav({

						//don't include an all tab
						includeAll: false,

						//do include an other tab (for stupid names that start with a unicode char)
						includeOther: true,

						//don't show the counts because they'll be huge
						showCounts: false,

						//filter prefixes so 'the beatles' appears under both t and b
						prefixes: ['the', 'a'],
					});

					//show the results
					$('.list-container').slideDown('slow');
				});
			</script>

			<h2>Artists</h2>

			<div class="list-container" style="display:none;">
				<div id='list-nav'></div>
				<ul id='list'>
				% for artist in artists:
					<li class='item'>
						<div class="image-120x120">&nbsp;</div>
						<div class="album-details">
							<a href='#' class='${artist['id']}'><h3>${artist['name']}</h3></a>
							<p>list of albums</p>
							<p>list of tracks</p>
						</div>
					</li>
				% endfor
				</ul>
			</div>

