			<script language="JavaScript">
				$(document).ready(function() 
				{
					//load artists with an ajax call
					//TODO: generate links to individual artist pages
					$.get("/api/artists/", function(data)
					{
						
						var html = '';

						if ($.isEmptyObject(data)) 
						{
							html = 'There aren\'t any artists in your database!';
						}
						else 
						{
							html = '<ul>';
							for (var a in data) 
							{
								html += '<li>' + data[a]['name'] + '</li>';
							}
							html += '</ul>';
						}

						$('.artist-list').html(html);

					}, "json");
				});
			</script>

			<div class="grid_12 main">
				<h2>Artists</h2>

				<div class="artist-list">
					<img src="/static/images/ajax-loader.gif" alt="loading..." />
				</div>
			</div>
			<div class="clear"></div>