<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>${title} - Musik</title>
		<link rel="stylesheet" href="/static/styles/960gs.css" />
		<link rel="stylesheet" href="/static/styles/style.css" />
		<link rel="stylesheet" href="/static/styles/listnav.css" />

		<!-- always include jquery -->
		<script type="application/javascript" src="/static/js/jquery/jquery-1.8.2.min.js"></script>
	</head>
	<body>
		<script type="application/javascript">
			$(function() {

				//wire up the home button to load that page into the main div
				$("#home_menu_button").click(function() {
					$.get('/main', function(data) {
						$('#main').html(data)
					});
				});

				//wire up the artists button to load that page into the main div
				$("#artists_menu_button").click(function() {
					$.get('/artists', function(data) {
						$('#main').html(data)
					});
				});

				//wire up the albums button to load that page into the main div
				$("#albums_menu_button").click(function() {
					$.get('/albums', function(data) {
						$('#main').html(data)
					});
				});

				//wire up the import media button to load that page into the main div
				$("#import_menu_button").click(function() {
					$.get('/importmedia', function(data) {
						$('#main').html(data)
					});
				});

			});
		</script>

		<!-- header menu -->
		<div id="header" class="container_12 header">
			<div id="home_menu_button" class="grid_1">
				<!-- musik logo -->
				<img src="/static/images/musik-60x46.png" />
			</div>
			<div id="artists_menu_button" class="grid_2">
				<!-- artists menu button -->
				<p>Artists</p>
			</div>
			<div id="albums_menu_button" class="grid_2">
				<!-- albums menu button -->
				<p>Albums</p>
			</div>
			<div class="grid_3" style="width: 22.5208333333%;">
				<!-- blank spacer -->
				&nbsp;
			</div>
			<div class="grid_3">
				<!-- search bar -->
				<p>Search</p>
			</div>
			<div id="import_menu_button" class="grid_1">
				<!-- import media menu button -->
				<p>Add Media</p>
			</div>
			<div class="clear"></div>
		</div>

		<!-- start main container -->
		<div id="main" class="container_12">

