<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>${title} - Musik</title>
		<link rel="stylesheet" href="/static/styles/960gs.css" />
		<link rel="stylesheet" href="/static/styles/style.css" />
		<link rel="stylesheet" href="/static/styles/listnav.css" />

		<!-- always include jquery -->
		<script type="application/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
		<script type="application/javascript" src="/static/js/jquery.listnav.min-2.1.js"></script>
		<script type="application/javascript" src="/static/js/header.js"></script>
	</head>
	<body>
		<script type="application/javascript">
			$(function() {

				//wire up the home button to load that page into the main div
				$("#home_menu_button").click(function()
				{
					load_content('/main');
				});

				//wire up the artists button to load that page into the main div
				$("#artists_menu_button").click(function()
				{
					load_content('/artists');
				});

				//wire up the albums button to load that page into the main div
				$("#albums_menu_button").click(function()
				{
					load_content('/albums');
				});

				//wire up the import media button to load that page into the main div
				$("#import_menu_button").click(function()
				{
					load_content('/importmedia');
				});

			});
		</script>

		<!-- header menu -->
		<div class="container_12">

			<div id="header" class="grid_12">
				<div id="home_menu_button" class="button">
					<!-- musik logo -->
					<img src="/static/images/musik-60x46.png" />
				</div>
				<div id="artists_menu_button" class="button">
					<!-- artists menu button -->
					<p>Artists</p>
				</div>
				<div id="albums_menu_button" class="button">
					<!-- albums menu button -->
					<p>Albums</p>
				</div>
				<div id="import_menu_button" class="button">
					<!-- import media menu button -->
					<p>Add Media</p>
				</div>
				<div id="search_bar" class="button">
					<!-- search bar -->
					<p>Search</p>
				</div>
				<div class="clear"></div>
			</div>

