<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>${title} - Musik</title>
		<link rel="stylesheet" href="/static/styles/960gs.css" />
		<link rel="stylesheet" href="/static/styles/style.css" />

		<!-- always include jquery -->
		<script type="application/javascript" src="/static/js/jquery/jquery-1.8.2.min.js"></script>
	</head>
	<body>
		<script type="application/javascript">
			$(function() {
				$("#artists_menu_button").click(function() {
					alert("Artists was clicked!");
				});
			});
		</script>

		<!-- header menu -->
		<div id="header" class="container_12 header">
			<div class="grid_1">
				<!-- musik logo -->
				<a href="/"><img src="/static/images/musik-60x46.png" /></a>
			</div>
			<div id="artists_menu_button" class="grid_2">
				<!-- artists menu button -->
				<p>Artists</p>
			</div>
			<div class="grid_2">
				<!-- albums menu button -->
				<a href="/albums"><p>Albums</p></a>
			</div>
			<div class="grid_3" style="width: 22.5208333333%;">
				<!-- blank spacer -->
				&nbsp;
			</div>
			<div class="grid_3">
				<!-- search bar -->
				<p>Search</p>
			</div>
			<div class="grid_1">
				<!-- import media menu button -->
				<p>Add Media</p>
			</div>
			<div class="clear"></div>
		</div>

		<!-- start main container -->
		<div id="main" class="container_12">

