<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Musik - Import Media</title>
		<link rel="stylesheet" href="/static/styles/style.css" />
	</head>
	<body>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

		<h1>Musik Media Importer</h1>
		<p>From this page, you can import all of your precious media files into the musik database. Start by entering a directory below:</p>

		<form class="importfolder" action="/api/importmedia/directory" method="post">
			<fieldset>
				<legend>Enter the path to a directory below:&nbsp</legend>
				<ol>
					<li>
						<label for="path">Path<em>*</em></label>
						<input id="path" name="path" type="text">
						<input type="submit" value="Submit" />
					</li>
				</ol>
			</fieldset>
		</form>

		<a href="/">Back to Home</a>
	</body>
</html>
