<div class="grid_12">
		<h1>Musik Media Importer</h1>
		<p>From this page, you can import all of your precious media files into the musik database. Start by entering a directory below:</p>
		
		<div class="validate-error" id="validate-error-top"></div>

		<form class="importfolder" action="/api/importmedia/directory" method="post" id="importmedia-form">
			<fieldset>
				<legend>Enter the path to a directory below:&nbsp;</legend>
				<ol>
					<li>
						<label for="path">Path<em>*</em></label>
						<input id="path" name="path" type="text">
						<input type="submit" value="Submit" />
					</li>
				</ol>
			</fieldset>
		</form>

		<a href="/">Back to Home</a>
</div>
<div class="clear"></div>
