			<div class="grid_12 main">
				<h1>Welcome to Musik!</h1>
				<h2>The world's finest web-based music player</h2>
				<p>
					It may not look like much right now, but eventually, this bad boy will be capable of managing and streaming all of your precious media files to you, no matter where you are in the world.
				</p>

				<h3>Try it out:</h3>
				<ul>
					<li><a href="/importmedia">Import Files</a></li>
				</ul>
			</div>
			<div class="grid_12 recent">
				<h3>Recently Played Songs:</h3>
				<div class="songs">
					<div class="album-cover">&nbsp;</div>
					<div class="album-cover">&nbsp;</div>
					<div class="album-cover">&nbsp;</div>
					<div class="album-cover">&nbsp;</div>
				</div>
			</div>
			<div class="clear"></div>
