<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Musik - Home</title>
		<link rel="stylesheet" href="/static/styles/style.css" />
	</head>
	<body>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

		<h1>Welcome to Musik!</h1>
		<h2>The world's finest web-based music player</h2>
		<p>
			It may not look like much right now, but eventually, this bad boy will be capable of managing and streaming all of your precious media files to you, no matter where you are in the world.
		</p>

		<h3>Try it out:</h3>
		<ul>
			<li><a href="/importmedia">Import Files</a></li>
		</ul>
	</body>
</html>
